<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Make Our App</h1>
               
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Organizing it</h1>
                        <p>Now we have all the information that we need in order to make the app all that is left now is to put it all together. The first thing you want to do is look through all the data in the bullet points on the previous page and decide what you want to display. Remember, the part that says lables actually has images inside it. That is why it doesn't show anything.</p>
                    </header>
                    <section>
                        <h2>Set Up Your HTML</h2>
                        <p>We need to set up a section of our html to take the information that we need and display it, this isn't too hard, this is what i made for thhe app on the next page:</p>
                        <pre>
                            <code>
        &ltdiv class="" ="app">
            &ltimg id="beer" src = {{logo}}>
                
            &lth1>{{name}}&lt/h1>
            &ltul>
                &ltli>Name: {{Name}}&lt/li>
                &ltli>Description: {{description}}&lt/li>
                &ltli>ABV: {{abv}}&lt/li>
                &ltli>Serving Temp: {{servTemp}}&lt/li>
            &lt/ul>
        &lt/div>
                            </code>
                        </pre>
                        <p>That doesn't look like much, does it? That is because we are going to send all of our information over from the javascript. What you should pay attention to is where you see items in double brackets like this \{{}}, that makes a placeholder for information gathered by the javascript to be inserted into the code.</p>
                    </section>
                    <section>
                        <h2>Javascript</h2>
                        <p>Because I am using the server to get all of my information, most of my code is here. This is what it looks like:</p>

                        <pre>
                            <code>
    app.get('/API-Step5',function(req, res){
      var holder;
      var container = {};
      requestify.get('http://api.brewerydb.com/v2/beer/Yq3v6n?key=57ac3d20257053737a469c6962fd60be').then(function(response) {
        // Get the response body (JSON parsed or jQuery object for XMLs)
        response.getBody();
        holder = JSON.parse(response.body);
        container.logo = holder.data.labels.medium;
        container.name = holder.data.name;
        container.description = holder.data.description;
        container.abv = holder.data.abv;
        container.servtemp = holder.servingTemperature;
    
        res.render('API-Step5', container);
      });
    });

                            </code>
                        </pre>
                        <p>Here you can see the code is still pretty simple. We get our JSON from requestify.get, then we parse it into holder. After that we just insert all the information that we need into the html using <code>container.</code> then our placeholder. After that we send it all to the html page like normal! </p>
                    </section>
                    <footer>
                        <p>Now let's go and see what our app looks like!</p>
                    </footer>
                </article>

                <nav>
                    <ul>
                        <li><a href="API-Step3"><<< Prev</a></li>
                        <li><a href="index">Home</a></li>
                        <li><a href="API-Step5">Next >>></a></li>
                    </ul>
                </nav>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>© Maxx Kozec 2016</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>


    </body>
</html>